.footer {
  width: 136rem;
  background: $color-container;
  border-radius: 40px;
  margin: 0 auto;

  @include flex($align-items: center, $gap: 100px);

  padding: 100px;
}

.footer__offer,
.footer__contacts {
  @include flex($direction: column, $gap: 40px);
  width: 53rem;
}

.footer__buttons {
  @include flex($gap: 12px);
}

.footer__links {
  @include flex($direction: column, $gap: 16px);
}

.footer_link {
  @include flex($align-items: center, $gap: 8px);

  color: $color-text-light;
  font: $font-link-button;
  cursor: pointer;
}

