.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  background-color: $color-background;
  z-index: 1;
}

.header__wrapper {
  @include flex($align-items: center, $justify-content: space-between);

  padding: $up-right-padding $bottom-left-padding;
  margin: 0 auto;
  max-width: $max-width;

  font: $font-link-button;
  color: $color-text-dark;
}

.header__navigation {
  @include flex($gap: 4rem);
}

.header__menu-button {
  @include flex($gap: 8px);

  cursor: pointer;
  align-items: center;

  img {
    padding-bottom: 3px;
  }

  &:hover {
    text-decoration: underline;
  }
}
