.about {
  @include flex($direction: column, $align-items: center, $text-align: center);
  gap: 40px;

  @media screen and (min-width: $width-mobile) and (max-width: $width-tablet) {
    text-align: left;
  }
}

.about__wrapper,
.about__img-wrapper {
  @include flex($gap: 40px);

  @media screen and (max-width: $width-desktop) {
    flex-direction: column;
  }
}

.about__img-wrapper {
  @include flex($direction: column, $gap: 40px);
  width: fit-content;
}

.about__img {
  width: 66rem;
  height: 59rem;
  object-fit: cover;
  border-radius: 20px;

  @media screen and (min-width: $width-mobile) and (max-width: $width-tablet) {
    width: 100%;
  }

  &.about__img_short {
    height: 43rem;

    @media screen and (max-width: $width-desktop) {
      display: none;
    }
  }
}

