.app {
  @include flex($justify-content: center, $gap: 100px);

  @media screen and (min-width: $width-tablet) and (max-width: $width-desktop) {
    flex-direction: column;
  }
}

.app__content {
  @include flex($direction: column, $justify-content: center, $gap: 40px);
  width: 63rem;

  @media screen and (min-width: $width-tablet) and (max-width: $width-desktop) {
    justify-content: start;
    width: unset;
  }
}

.app__phones {
  background: url("../assets/mobile-screens.png");
  width: 63rem;
  height: 63rem;

  @media screen and (min-width: $width-tablet) and (max-width: $width-desktop) {
    align-self: center;
  }
}

.app__buttons {
  display: flex;
  gap: 20px;
}

.app-store__icon,
.google-play__icon {
  width: 36px;
  height: 36px;
}

.app-store__icon {
  background: url("../assets/buttons/app-store.svg") no-repeat;
}

.google-play__icon {
  background: url("../assets/buttons/google-play.svg") no-repeat;
}

