.favorite__wrapper {
  @include flex(
    $direction: column,
    $justify-content: space-between,
    $align-items: center,
    $gap: 40px
  );
  margin: 0 auto;

  @media screen and (min-width: $width-tablet) and (max-width: $width-desktop) {
    text-align: center;
  }
}

