.slide__img {
  width: 100%;
}

.slide__content,
.slide__description {
  @include flex(
    $direction: column,
    $align-items: center,
    $justify-content: center,
    $text-align: center,
    $gap: 20px
  );

  width: 48rem;
}

.slide__description {
  gap: 16px;
}

.slide__description_text {
  max-width: 48rem;
  scale: 1;
  transition: scale 1s ease;

  @media screen and (max-width: $width-tablet) {
    width: 90vw;
  }
}

.slide__content {
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: $width-tablet) {
    &:hover {
      scale: 1.02;
      cursor: pointer;

      .slide__description_text {
        scale: 0.98;
      }
    }
  }
}
