$color-background: #e1d4c9;
$color-container: #665f55;
$color-text-light: #e1d4c9;
$color-text-dark: #403f3d;
$color-text-accent: #b0907a;
$color-border-dark: #665f55;
$color-border-light: #c1b6ad;

$header-height: 100px;
$up-right-padding: 20px 40px;
$bottom-left-padding: 0 20px;
$max-width: 1440px;

$font-family: "Inter", sans-serif;

$font-link-button: 600 1.6rem/1.5 $font-family;
$font-medium: 400 1.6rem/1.5 $font-family;
$font-header: 600 7.2rem/1.05 $font-family;
