$color-background: #e1d4c9;
$color-container: #665f55;
$color-text-light: #e1d4c9;
$color-text-dark: #403f3d;
$color-text-accent: #b0907a;
$color-border-dark: #665f55;
$color-border-light: #c1b6ad;

$header-height: 100px;
$up-right-padding: 20px 40px;
$bottom-left-padding: 0 40px;
$max-width: 1440px;
$max-wrapper-width: 91vw;

$button-border-radius: 100px;

$font-family: "Inter", sans-serif;

$font-link-button: 600 1.6rem/1.5 $font-family;
$font-medium: 400 1.6rem/1.5 $font-family;
$font-bold-small: 600 1rem/1.4 $font-family;
$font-header1: 600 7.2rem/1.05 $font-family;
$font-header1-mobile: 600 4.2rem/1.15 $font-family;
$font-header2: 600 6rem/1.25 $font-family;
$font-header2-mobile: 600 3.2rem/1.25 $font-family;
$font-header3: 600 2.4rem/1.25 $font-family;
$font-burger-link: 600 3.2rem/1.25 $font-family;

$width-desktop: 1440px;
$width-tablet: 768px;
$width-mobile: 380px;
