.about {
  @include flex($direction: column, $align-items: center, $text-align: center);
  gap: 40px;
}

.about__wrapper,
.about__img-wrapper {
  @include flex($gap: 40px);
}

.about__img-wrapper {
  @include flex($direction: column, $gap: 40px);

  width: fit-content;
}

.about__img {
  width: 66rem;
  height: 59rem;
  object-fit: cover;
  border-radius: 20px;

  &.about__img_short {
    height: 43rem;
  }
}

