.app {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.app__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 63rem;
  gap: 40px;
}

.app__phones {
  background: url("../assets/mobile-screens.png");
  width: 63rem;
  height: 63rem;
}

.app__buttons {
  display: flex;
  gap: 20px;
}

.app-store__icon {
  background: url("../assets/buttons/app-store.svg") no-repeat;
  width: 36px;
  height: 36px;
}

.google-play__icon {
  background: url("../assets/buttons/google-play.svg") no-repeat;
  width: 36px;
  height: 36px;
}

