.button {
  background-color: $color-background;
  width: 200px;
  height: 64px;
  text-align: center;
  color: $color-text-dark;
  border-radius: $button-border-radius;
}

.button__img {
  opacity: 0;
}

.button__menu {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  font: $font-link-button;
  cursor: pointer;

  &:hover .button__img {
    opacity: 1;
    background: url("../assets/coffee-cup.svg");
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
    transition: opacity 1s;
  }
}

.button__circle {
  width: 6rem;
  height: 6rem;
  border: 1px solid $color-border-dark;
  border-radius: $button-border-radius;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  &:hover,
  &:not(:hover) {
    scale: 1.2;
    transition: all 0.3s ease;
  }

  &:not(:hover) {
    scale: 1;
  }
}

.button__left {
  background: url("../assets/buttons/button-left.svg") no-repeat;
  width: 14px;
  height: 14px;
}

.button__right {
  background: url("../assets/buttons/button-right.svg") no-repeat;
  width: 14px;
  height: 14px;
}

