.button {
  background: $color-background;
  width: 200px;
  height: 64px;
  text-align: center;
  color: $color-text-dark;
  border-radius: $button-border-radius;
  cursor: pointer;
}

.button__img {
  opacity: 0;
}

.button__menu {
  @include flex($align-items: center, $justify-content: center, $gap: 8px);
  font: $font-link-button;

  &:hover .button__img {
    opacity: 1;
    background: url("../assets/coffee-cup.svg");
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
    transition: opacity 1s;
  }
}

.button__circle_dark,
.button__circle_light {
  width: 6rem;
  height: 6rem;
  border: 1px solid $color-border-dark;
  border-radius: $button-border-radius;

  @include flex($align-items: center, $justify-content: center, $gap: 8px);

  cursor: pointer;
  transition: all 0.5s;
}

.button__circle_dark:hover {
  background: $color-container;

  .button__left {
    background: url("../assets/buttons/button-left-light.svg") no-repeat;
  }
  .button__right {
    background: url("../assets/buttons/button-right-light.svg") no-repeat;
  }
}

.button__circle_light {
  border: 1px solid $color-border-light;

  &:hover {
    background: $color-background;

    .button__twitter {
      background: url("../assets/buttons/twitter-dark.svg") no-repeat;
    }
    .button__instagram {
      background: url("../assets/buttons/instagram-dark.svg") no-repeat;
    }
    .button__facebook {
      background: url("../assets/buttons/facebook-dark.svg") no-repeat;
    }
  }
}

.button__twitter {
  background: url("../assets/buttons/twitter-light.svg") no-repeat;
}
.button__instagram {
  background: url("../assets/buttons/instagram-light.svg") no-repeat;
}
.button__facebook {
  background: url("../assets/buttons/facebook-light.svg") no-repeat;
}

.button__instagram,
.button__twitter,
.button__facebook {
  width: 24px;
  height: 24px;
}

.button__left,
.button__right {
  width: 14px;
  height: 14px;
}
.button__left {
  background: url("../assets/buttons/button-left.svg") no-repeat;
}

.button__right {
  background: url("../assets/buttons/button-right.svg") no-repeat;
}

.button__app-store,
.button__google-play {
  @include flex($align-items: center, $gap: 10px);

  padding-left: 20px;
  font: $font-link-button;
  border: 1px solid $color-border-dark;

  &:hover {
    color: $color-text-light;
    background: $color-container;
    transition: all 0.5s;

    .app-store__icon {
      background: url("../assets/buttons/app-store-light.svg") no-repeat;
    }

    .google-play__icon {
      background: url("../assets/buttons/google-play-light.svg") no-repeat;
    }
  }
}

.button__text {
  @include flex($direction: column, $text-align: left);
}

