.hidden__block,
.hidden {
  display: none;
}

.hidden {
  animation-duration: 1s;
  animation-name: rightOut;
}

@keyframes rightOut {
  from {
    left: 0;
    display: flex;
  }

  to {
    left: 100vw;
    display: none;
  }
}

