.hidden__block,
.hidden {
  display: none;
}

.hidden {
  animation-duration: 1s;
  animation-name: rightOut;
}

@keyframes rightOut {
  from {
    left: 0;
    display: flex;
  }

  to {
    left: 100vw;
    display: none;
  }
}

.hidden__carousel_left {
  animation: toLeft 1500ms ease-in-out;
  left: 0;
  position: relative;
}

@keyframes toLeft {
  to {
    left: -48rem;
  }
}

.hidden__carousel_right {
  animation: toRight 1500ms ease-in-out;
  left: 0;
  position: relative;
}

@keyframes toRight {
  to {
    left: 48rem;
  }
}

