.main-block {
  @include flex($direction: column, $gap: 100px);

  position: relative;
  top: $header-height;

  width: $max-wrapper-width;
  max-width: $max-width;
  margin: 0 auto;
  padding-bottom: 100px;

  overflow-x: hidden;
}

